* {
    font-size: 16pt;
}

.days {
    transition: transform 0.5s;
    background: var(--background);
    width: 17%;
    height: 60%;
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000; 
}

.days:hover {
    transform: scale(1.2);
}

.dayName {
    margin-top: 20px;
}

.weatherIcon {
    margin-top: 10px;
}

