.forecast{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    width: 95%;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}