.header {
    display: flex;
    align-items: center;
    height: 13%;
    width: 100%;
    background: rgba(255, 230, 238, 1.0);
}

.searchBar {
    display: flex;
    justify-content: center;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius);
    padding: var(--padding);
    height: 25%;
    width: 20%;
}

.searchBar-searchIcon {
    color:black;
    cursor: pointer;
    margin-left: 5px;
}

.searchBar > input {
    height: 80%;
    width: 85%;
    border: none;
    background: none;
    font-size: 16px;
    border-radius: 10px;
    color:black;
    outline: none;
    text-align: center;
}

.searchBar > input::placeholder {
    color: black;
    text-align: center;
    font-size: 18px;
}

.appLogo-appName {
    display: flex;
    align-items: center;
}

.appLogo {
    width: 100px;
    height: 100px;
}