.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.searchBar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: var(--background);
    border-radius: var(--border-radius);
    padding: var(--padding);
    height: 35%;
    width: 20%;
}

.searchBar-searchIcon {
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.searchBar > input {
    height: 80%;
    width: 85%;
    margin-left: 10px;
    border: none;
    background: none;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    outline: none;
}

.searchBar > input::placeholder {
    color: white;
}