.seaForecast {
   background: var(--background);
   border-radius: var(--border-radius);
   margin: var(--margin);
   width: var(--width);
   height: var(--height);
   color: white;
   padding: var(--padding); 
}


.seaForecast-main {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   float: left;
}

.seaForecast-main > p {
   float: left;
   margin-left: 20px;
}

.seaForecast-title {
   border-bottom: 2px solid white;
   padding-top: 15px;
   padding-bottom: 10px;
   width: 87%;
   margin-left: auto;
   margin-right: auto;
   font-size: 20px;
}