.weeklyForecast {
    background: var(--background);
    border-radius: var(--border-radius);
    margin: 60px auto 0 auto;
    color: white;
    width: 80%;
    height: 30%;
}

.weeklyForecast-main {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}