.weeklyForecast {
    background: var(--background);
    border-radius: var(--border-radius);
    margin: 60px auto 0 auto;
    color: white;
    width: 80%;
    height: 30%;
    overflow-x: auto;
    white-space: nowrap;
}

.weeklyForecast-main {
    display: inline-block;
    margin-top: 30px;
}